/* ==========================================================================
   FOOTER
   ========================================================================== */

.page__footer {
  position: fixed !important;
  bottom: 0 !important;
  left: 0 !important;
  width: 100% !important;

  background: transparent !important;
  border-top: none !important;

  margin: 0 !important;
  padding: 0 !important;
}

.page__footer footer {
  margin: 0 !important;
  padding: 0 !important;
}

.page__footer-follow {
  display: none !important;
}

.page__footer-copyright {
  text-align: left;
  color: #999;
  font-size: 0.75em;
  padding: 4px 10px;
}
