/* ==========================================================================
   FOOTER
   ========================================================================== */

.page__footer {
  background: transparent !important;
  border-top: none !important;

  margin-top: 0 !important;
  padding: 0 !important;

  position: relative !important;
  bottom: auto !important;

  width: 100%;
}

.page__footer footer {
  margin: 0;
  padding: 0;
}

.page__footer-copyright {
  text-align: left;
  color: #999;
  font-size: 0.75em;

  padding: 4px 0;
}

.page__footer-follow {
  display: none;
}

.page__footer {
  background: none !important;
}
